<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mongo Scraper</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
        {{!-- Jquery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    {{!-- Public Script --}}
    <script src="/scripts/script.js"></script>
</head>
<body>
    {{{ body }}}
</body>

</html>