<div id="wrapper">
  <!-- As a link -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Mongo Scraper</a>
  </nav>

  <div class="title-container">
    <h1 id="title">New York Times Scraper</h1>
    <h2 id="description"><i>Get your New York Times Articles here</i></h2>
    {{!-- Button that calls articles --}}
    <button id="submit" type="button" class="btn btn-info">Get Articles</button>
  </div>
  {{!-- Notes div --}}
  <div id="notes">
    <h6 class="notes-title"></h6>
    <form>
      <div class="form-group">
        <label for="note-input">Notes</label>
        <textarea class="form-control" id="notes-body" rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-info" id="savenote">submit</button>
    </form>
  </div>
  {{!-- articles appear here --}}
  <div id="articles"></div>
</div>
</div>